#Config file for polipd
#This file must be in /etc/polip.conf
#The parser is not finish so try to mantain the structure of the file
#Netdevice is the local network device
#Linkdevice is the internet device
#The parent of a group or client must be before them
#Borrow means it can use the bandwhit not used by other clients
#
#Archivo de configuracion para polip
#Este archivo de estar en /etc
#El parser del archivo de configuracion no esta totalmente terminado por lo cual
#es recomendable mantener la estructura que se muestra sin dejar espacion en blanco
#Netdevice es el dispositivo conectado a la red local
#Likndevice es el dispositivo conectado a internet no hace falta que este conectado siempre
#Los clientes o grupos con parent que no exista no seran cargados
#No colocar clientes o grupos con parent que estaran despues de los mismos
#Borrow significa que este cliente o grupo puede pedir prestado ancho de banda a otros del mismo nivel
#Se pueden cargar clientes a root sin crear ningun grupo

#kbps Kilobyte per second
#mbps Megabyte per second
#kbit Kilobits per second
#mbit Megabits per second
#bps  Bits per second
#
#
###Root Structure
#
[root]
netdevice=eth1
netspeed=1gbit
linkdevice=eth0
linkspeed=100mbit
#
#
#Grupo
#
[grupo]
name=Group
parent=root
rate=10mbit
borrow=yes


#
#Cliente
#
[Cliente]
name=clientroot1
parent=root
rate=20mbit
borrow=yes
ip=192.168.1.30


#
#Cliente
#
[Cliente]
name=clientroot2
parent=root
rate=50mbit
borrow=yes
ip=192.168.1.41


#
#Cliente
#
[Cliente]
name=clients.60
parent=Group
rate=60mbits
borrow=yes
ip=192.168.1.60


#
#Cliente
#
[Cliente]
name=clients.61
parent=Group
rate=60mbits
borrow=yes
ip=192.168.1.61


#
#Cliente
#
[Cliente]
name=clients.62
parent=Group
rate=60mbits
borrow=yes
ip=192.168.1.62


